.test {
    height: 50px;
    background-color: lightgreen;
    color: black;
    display: flex;
    flex-wrap: wrap;
    place-content: center;
    border-radius: 8px;
}

[hidden]{
    display:none;
  }